/*Especificidad: 001*/
/************************
  Abel Busto Dopazo - UO284262
Descripción de estilos
************************/

body {
  background-color:#79A97B;
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3em 3em 3em 3em;
}

h1 {
  font-size: 5em;
  border: 5px double black;
  background-color: burlywood;
  color: black;
  border-radius: 0.1em;
}

article h2 {
  font-size: 2.5em;
}

article section {
  border: 5px double black;
  background-color:#79A97B;
  border-radius: 1em;
  color: black;
  padding: 1em;
  margin: 1em;
}

article section:first-of-type{
  font-size: 1.2em;
}

article {
  border: 5px double black;
  background-color: burlywood;
  color: black;
  border-radius: 1em;
  padding: 1em;
  margin: 5em;
}


